body {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}
/*header section*/

.logo {
    float: left;
    margin: 10px;
    padding-left: 10px;
}

li.nav-li {
    list-style-type: none;
}

.nav-li {
    margin-top: 30px;
    float: right;
}

.nav {
    text-decoration: none;
    margin: 10px;
    color: #31353e;
    font-size: 20px;
    padding: 10px 15px;
    font-family: 'Roboto Slab', serif;
}


.nav:hover {
    text-decoration: none;
    background-color: #dd4b2b;
    border-radius: 25px;
    color: #ffffff;
    transition: background-color 0.5s;
}

/*main section*/

li.main-article {
    list-style-type: none;
}

.background-img {
    width: 100%;
    padding: 0;
    height: auto;
    vertical-align: middle;
    min-height: 700px;
}

.main-article {
    width: 33.33%;
    float: left;
    box-sizing: border-box;
    margin: 0;
    display: inline-block;
}

.main {
    max-height: 1000px;
    position: relative;
}

.header-info {
    position: absolute;
    left: 0;
    bottom: 50px;
    width: 100%;
    margin: 0 auto;
}

.main-article {
    text-align: center;
    color: white;
}

.img-list {
    padding: 0;
    margin: 0;
}

.header1 {
    font-family: 'Roboto Slab', serif;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    color: #ffffff;
    text-align: center;
    margin-bottom: 0;
    font-size: 70px;
}

.header1p {
    font-family: 'Roboto Slab', serif;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    color: #ffffff;
    text-align: center;
    margin-top: 0;
    font-size: 25px;
}

.header-img {
    font-size: 25px;
    margin: 25px;
}

.p-img {
    line-height: 2;
    font-family: 'Roboto', sans-serif;
}

.read-more {
    font-family: 'Roboto Slab', serif;
    text-decoration: none;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: #ffffff;
    border-radius: 25px;
    color: #612316;
    font-size: 20px;
    padding: 10px 25px;
}

.read-more:hover {
    background-color: #dd4b2b;
    transition: background-color 0.5s;
    color: #ffffff;
}

.read-button {
    text-align: center;
    margin-top: 20px;
}

/* our news section*/

.news {
    background-color: #edeff1;
}

.header2 {
    font-family: 'Roboto Slab', serif;
    text-align: center;
    color: #31353e;
    font-size: 30px;
    margin: 0;
    padding: 40px;
}

.news-list {
    padding: 0 0 40px 0;
    margin: 0;
}

.main-new {
    width: 33.33%;
    float: left;
    box-sizing: border-box;
    margin: 0;
    display: inline-block;
    text-align: center;
}

.img-news {
    margin: 0;
}

.news-img-head {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    margin: 25px;
}

.p-img-news {
    line-height: 2;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
}

.read {
    font-family: 'Roboto', serif;
    text-decoration: none;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: #ffffff;
    border-radius: 27px;
    color: #4e5159;
    font-size: 20px;
    padding: 10px 25px;
    margin: 15px;
    display: inline-block;
}

.read:hover {
    background-color: #dd4b2b;
    transition: background-color 0.5s;
    color: #ffffff;
}

/*section newslatter*/

.background-img2 {
    width: 100%;
    padding: 0;
    height: auto;
    vertical-align: middle;
}

.newslatter {
    position: relative;
}

.news-form {
    position: absolute;
    left: 0;
    bottom: 20px;
    width: 100%;
    margin: 0 auto;
}

.news-head {
    font-family: 'Roboto Slab', serif;
    margin-top: 0;
    color: #ffffff;
    font-size: 30px;
    text-align: center;
}

.latter-p {
    color: #ffffff;
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

.newslatter-form {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    display: inline-block;
}

.form-list {
    text-align: center;
    margin: 10px auto;
    display: inline-block;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50px;
    color: #4e5159;
    padding: 0;
}

.form-li {
    float: left;
    list-style-type: none;
}

.submit {
    font-family: 'Roboto Slab', serif;
    text-decoration: none;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: #ffffff;
    border-radius: 27px;
    color: #4e5159;
    font-size: 20px;
    padding: 10px 35px;
    display: inline-block;
}

.submit:hover {
    cursor: pointer;
    background-color: #dd4b2b;
    transition: background-color 0.5s;
    color: #ffffff;
}

.email {
    font-family: 'Roboto Slab', serif;
    text-decoration: none;
    border: none;
    background-color: transparent;
    border-radius: 27px;
    color: #000000;
    font-size: 20px;
    padding: 10px 30px;
    display: inline-block;
}

/*product section*/

.main-product-list {
    padding: 0;

}

.element-list {
    padding: 0 auto;

}

.main-product-li {
    list-style-type: none;
    padding: 0;
    margin: 20px auto;
}

.product-li, .product-li-img {
     list-style-type: none;
    padding: 20px 0 20px 0;
    margin: 30px auto;
 }

.product-li2, .product-li-img2 {
    list-style-type: none;
    padding: 20px 0 20px 0;
    margin: 20px auto;
}

.product-li, .product-li-img {
    width: 50%;
    float: left;
    box-sizing: border-box;
    margin: 0;
    display: inline-block;
}

.product-img {
    width: 400px;
    height: auto;
    border: 2px solid #dbdbdb;
}

.product-li2, .product-li-img2 {
    width: 50%;
    float: left;
    box-sizing: border-box;
    margin: 0;
    display: inline-block;
}

.product-img {
    width: 500px;
    height: 300px;
    border: 1px solid #dbdbdb;
}

.product-header {
    font-family: 'Roboto Slab', serif;
    color: #191b29;
    font-size: 30px;
    margin: 0;
    padding-top: 10px;
}

.product-p {
    color: #191b29;
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
}

.product-signup {
    font-family: 'Roboto Slab', serif;
    text-decoration: none;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: #4b4e73;
    border-radius: 27px;
    color: #ffffff;
    font-size: 18px;
    padding: 10px 60px;
    display: inline-block;
    margin-top: 10px;
}

.product-signup:hover {
    text-decoration: none;
    background-color: #dd4b2b;
    border-radius: 27px;
    transition: background-color 0.5s;
}

/* section footer*/

.footer-section {
    background-color: #d75d0e;
    margin: 0 auto;
}

.footer-li, .foot-li {
    list-style-type: none;
    margin: 10px 0;;
}

.footer-li {
    float: left;
    text-align: center;
}

.footer-ul {
    text-align: center;
    padding: 0;
    display: inline-block;
}

.a-list {
    padding: 0;
    text-align: center;
    margin: 50px;
}

.list-container {
    text-align: center;

}

.footer-a {
    font-family: 'Roboto', serif;
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
}

.footer-a:hover {
    color: #000000;
}

/* footer*/

.background-img3 {
    width: 100%;
    padding: 0;
    height: auto;
    vertical-align: middle;
}

.footer {
    position: relative;
}

.footer-info {
    position: absolute;
    left: 0;
    bottom: 50px;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.footer-text {
    font-family: 'Roboto', serif;
    width: 640px;
    margin: 0 auto;
}

.a-footer {
    font-family: 'Roboto', serif; /*Font-family "Proxima Nova" is need to be paid */
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
}

.a-footer:hover {
    opacity: 0.5;
}