body {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}
/*header section*/

.logo {
    float: left;
    margin: 10px;
    padding-left: 10px;
}

li.nav-li {
    list-style-type: none;
}

.nav-li {
    margin-top: 30px;
    float: right;
}

.nav {
    text-decoration: none;
    margin: 15px;
    color: #31353e;
    font-size: 20px;
    padding: 10px 25px;
}


.nav:hover {
    text-decoration: none;
    background-color: #dd4b2b;
    border-radius: 25px;
    color: #ffffff;
    transition: background-color 0.5s;
}

/*main section*/

li.main-article {
    list-style-type: none;
}

.background-img {
    width: 100%;
    padding: 0;
    height: auto;
    vertical-align: middle;
}

.main-article {
    width: 33.33%;
    float: left;
    box-sizing: border-box;
    margin: 0;
    display: inline-block;
}

.main {
    position: relative;
}

.header-info {
    position: absolute;
    left: 0;
    bottom: 100px;
    width: 100%;
    margin: 0 auto;
}

.main-article {
    text-align: center;
    color: white;
}

.img-list {
    padding: 0;
    margin: 0;
}

.header1 {
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    color: #ffffff;
    text-align: center;
    margin-bottom: 0;
    font-size: 70px;
}

.header1p {
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    color: #ffffff;
    text-align: center;
    margin-top: 0;
    font-size: 25px;
}

.header-img {
    font-size: 25px;
    margin: 25px;
}

.p-img {
    line-height: 2;
}

.read-more {
    text-decoration: none;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: #ffffff;
    border-radius: 25px;
    color: #612316;
    font-size: 20px;
    padding: 10px 25px;

}

.read-more:hover {
    opacity: 0.5;
    transition: 0.5s;
}

.read-button {
    text-align: center;
    margin-top: 20px;
}

/* our news section*/

.news {
    background-color: #edeff1;
}

.header2 {
    text-align: center;
    color: #31353e;
    font-size: 30px;
    margin: 0;
    padding: 40px;
}

.news-list {
    padding: 0 0 40px 0;
    margin: 0;
}

.main-new {
    width: 33.33%;
    float: left;
    box-sizing: border-box;
    margin: 0;
    display: inline-block;
    text-align: center;
}

.img-news {
    margin: 0;
}

.news-img-head {
    font-size: 20px;
    margin: 25px;
}

.p-img-news {
    line-height: 2;
}

.read {
    text-decoration: none;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: #ffffff;
    border-radius: 27px;
    color: #4e5159;
    font-size: 20px;
    padding: 10px 25px;
    margin: 15px;
    display: inline-block;
}

.read:hover {
    opacity: 0.4;
    transition: 0.5s;
}

/*section newslatter*/

.background-img2 {
    width: 100%;
    padding: 0;
    height: auto;
    vertical-align: middle;
}

.newslatter {
    position: relative;
}

.news-form {
    position: absolute;
    left: 0;
    bottom: 70px;
    width: 100%;
    margin: 0 auto;
}

.news-head {
    color: #ffffff;
    font-size: 30px;
    text-align: center;
}

.latter-p {
    color: #ffffff;
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
}

.newslatter-form {
    margin: 0 auto;

}











/*product section*/

.main-product-list {
    padding: 0 auto;

}

.element-list {
    padding: 0 auto;

}

li.main-product-li {
    list-style-type: none;
    padding: 0;
    margin: 20px auto;
}

li.product-li {
     list-style-type: none;
    padding: 0;
    margin: 20px auto;
 }

li.product-li-img {
    list-style-type: none;
    padding: 0;
    margin: 20px auto;
}

li.product-li2 {
    list-style-type: none;
    padding: 0;
    margin: 20px auto;
}

li.product-li-img2 {
    list-style-type: none;
    padding: 0;
    margin: 20px auto;
}


.product-li, .product-li-img {
    width: 50%;
    float: left;
    box-sizing: border-box;
    margin: 0;
    display: inline-block;
}

.product-img {
    width: 400px;
    height: auto;
    border: 2px solid #dbdbdb;
}

.product-li2, .product-li-img2 {
    width: 50%;
    float: left;
    box-sizing: border-box;
    margin: 0;
    display: inline-block;
}

.product-img {
    width: 500px;
    height: auto;
    border: 1px solid #dbdbdb;
}

.product-header {
    color: #191b29;
    font-size: 30px;
    margin: 0;
}

.product-p {
    color: #191b29;
    font-size: 16px;
    line-height: 1.5;
}

.product-signup {
    text-decoration: none;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: #4b4e73;
    border-radius: 25px;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 60px;
    display: inline-block;
    margin-top: 10px;
}

.product-signup:hover {
    opacity: 0.5;
    transition: 0.5s;
}